/* Universal Styles */

.App {
	min-height: 100vh;
	background-image: linear-gradient(83deg, #395768, #84a98c 48%, #2f3e46);
}

/* Form Styles */

.auth-form,
.login-form,
.signup-form,
.task-form {
	display: flex;
	flex-direction: column;
	align-self: center;
}

.auth-form,
.task-form {
	padding: 5rem;
	border: 1px solid white;
	border-radius: 10px;
	margin: 0.5rem;
}

.task-form {
	color: #2f3e46;
	margin-top: 5rem;
	padding: 1rem 10rem;
}

.task-form h3 {
	align-self: center;
}

.task-form button,
.task-form button:hover {
	background-color: #2f3e46;
	color: white;
	margin-top: 0.5rem;
}

.task-form button:hover {
	opacity: 50%;
}

label {
	text-align: left;
	padding: 0.25rem 0;
}

input {
	margin: 0.5rem 0;
	padding: 1rem;
	border: none;
	border-radius: 10px;
}

/* Link Styles */

.clickBtn {
	border: none;
	background-color: white;
	padding: 1rem;
	border-radius: 10px;
	cursor: pointer;
	margin: 0.5rem 0;
	color: #33595d;
}

.linkBtn {
	background: none;
	color: white;
	text-decoration: underline;
	border: none;
}

/* Header Styles */

header {
	margin-top: 1rem;
	padding: 1rem;
}

.header-link {
	font-size: larger;
}

.header-link,
.login-link {
	text-decoration: none;
	color: white;
}

.header-link:hover,
.login-link:hover {
	color: white;
	opacity: 50%;
}

/* Dashboard Styles */

.dashboard-container {
	margin-top: 10rem;
	flex-direction: column;
	align-items: center;
}

.dashboard-title {
	color: white;
	padding: 1rem;
	border: 1px Solid white;
	border-radius: 8px;
}

.unauthorized {
	color: red;
	border-radius: 8px;
	background-color: black;
	padding: 0;
	margin-bottom: 60rem;
	padding: 1rem;
	margin-top: 15rem;
}

li {
	color: rgb(220, 236, 232);
	list-style: square;
	font-size: 25px;
}
.projects {
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.projects:hover {
	color: rgb(14, 83, 70);
}

/* KanBan Styles */

.kanban,
#motto {
	color: white;
}

#container {
	align-self: center;
}
