/* Universal Styles */

.App {
	min-height: 100vh;
	background-image: linear-gradient(83deg, #395768, #84a98c 48%, #2f3e46);
}

/* Form Styles */

.auth-form,
.login-form,
.signup-form {
	display: flex;
	flex-direction: column;
	align-self: center;
}

.auth-form {
	padding: 5rem;
	border: 1px solid white;
	border-radius: 10px;
	margin: 0.5rem;
}

label {
	text-align: left;
	padding: 0.25rem 0;
	color: white;
}

input {
	margin: 0.5rem 0;
	padding: 1rem;
	border: none;
	border-radius: 10px;
}

/* Link Styles */

.clickBtn {
	border: none;
	background-color: white;
	padding: 1rem;
	border-radius: 10px;
	cursor: pointer;
	margin: 0.5rem 0;
	color: #33595d;
}

.linkBtn {
	background: none;
	color: white;
	text-decoration: underline;
	border: none;
}

/* Header Styles */

header {
	margin-top: 1rem;
	padding: 1rem;
}

.header-link {
	font-size: larger;
}

.header-link,
.login-link {
	text-decoration: none;
	color: white;
}

.header-link:hover,
.login-link:hover {
	color: white;
	opacity: 50%;
}
#container{
	align-self: center;
}

.kanban{
	color: white;
	
	
	
}

#motto{
	color: white;
	
}

.board {
	display: flex;
	
	width: 100%;
	margin-top: 150px;
	padding: 15px;
	height: 90vh;
	
	
	

}
.column{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.193);
	
	height:auto;
}

.board .card {
	padding: 15px 25px;
	background-color: #33595d;
	margin-bottom: 10px;
}