body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li{
  color: rgb(220, 236, 232);
  list-style: square;
  margin-top: 45px;
  font-size: 25px;
  padding-left: 10px;
  
}
.projects{
  color: white;
  text-decoration: none;
  font-size: 20px;
  
}
.projects:hover{
  color: rgb(14, 83, 70);
}

